body {
    background-image: url(/pic/a9f7bc87f8b5e4b889d24a54e420659b.jpeg);
    color: whitesmoke;

}

#form-login {
    font-size: 10px;
    margin-left: 9%;
    margin-top: 10%;
    border: 2px;
    width: fit-content;
    background-color: gray ;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}


input {
    box-sizing: border-box;
    background: rgba(153, 153, 153, 0.60);
    border-style: solid;
    border-color: black;
    border-width: 0.5px;
    height: 25px;
    width: 200px;
    color: aliceblue;
}
input:focus {
    background-color: grey;
}

button {
    box-sizing: border-box;
    background: white;
    position: relative;
    overflow: hidden;
    text-align: left;
    color: black;
    border: 1px;
    cursor: pointer;
}

/* form {
    background-color: gray;

} */